.env
node_modules
work/output
backend/uploads/
backend/work/output/
backend/deleted/
*.xlsx
backend/gpt3/test.js
frontend/.env.production
frontend/build.zip
backend/.env.production
*.tgz
backend/gpt3/test.json
.vscode/restore-terminals.json
gpt3responses.json
ChainBundle2.crt
ServerCertificate.crt
impowr_demo_records.json
frontend/src/pages/test.json
